
/* credit to for navigation styling https://itnext.io/how-to-create-a-responsive-navigation-bar-with-html-css-and-jquery-step-by-step-tutorial-9c780b58479f */

/* 
  sets the list style type to none so
  headings will not be bulletted
*/
li{
  list-style-type: none;
}

/* 
  style for link
*/

a{

  /* no underline */
  text-decoration: none;

  /* set colour of text to black */
  color: black;

  /* add some padding around link */
  padding: 2vw;

  /* set the font */
  font-family: monospace;

}

nav a:hover{

  /* when you hover over the link change the background colour */
  background-color: #C6E9FF;
}

nav{
  /* set the width to 100% of the viewport width */
  width: 100vw;
}

ul {
  display: flex;
  flex-direction: row;
}

ul{
  margin: 0;
  padding: 0;
  
  /*this option by default dispose the elements in a row (flex-direction: row)*/
  display: flex;
  flex-direction: row;

  /*when I specify 2 values to margin, the first one is for the top and bottom side, the second for the left and right side*/
  margin: 0 2vw;

  /* our font-size will be 3% of the height of the viewport */
  font-size: 3vh;
}

/* no margin and a little bit of padding around the body of the page */
body{
  margin: 0;
  padding: 5px;
}

.logo{
  font-size: 3vh;
}

table, th, td {
  border: 1px solid black;
}

th, td {
  height: 30px;
  padding: 1px 0 1px 0;
  margin: 0;
  text-align: left;
}

th {
  background-color: lightgray;
}

table {
  margin-left: 10%;
  width: 80%;
  border-collapse: collapse;
  border-spacing: 5px;
  table-layout: fixed;
}

.button {
  float: right;
  margin-top: 20px;
  margin-right: 190px;
  background-color: #4CAF50; /* Green */
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: block;
  font-size: 16px;
}

caption {
  text-align:left;
  font-size: 30px;
  font-weight: bold;
}

.empty {
  background-color: green;
  color: white;
}

.filled {
  background-color: red;
  color: white;
}

input {
  width: 75%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-size: 14px;
}

.boxes-button {
  position: relative;
  top: 30px;
}

.checkbox {
  width: 20%;
  float: right;
}
